<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    coreApp="true"
    package="com.sony.opentelephony.modemconfig"
    android:versionCode="1"
    android:versionName="1.0">

    <application android:directBootAware="true">
        <receiver android:name=".ModemConfigReceiver">
            <intent-filter>
                <action android:name="android.telephony.action.DEFAULT_SUBSCRIPTION_CHANGED" />
            </intent-filter>
        </receiver>
    </application>

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" />
</manifest>
