<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    coreApp="true"
    package="com.qualcomm.qti.telephonyservice"
    android:sharedUserId="android.uid.phone"
    android:versionCode="1"
    android:versionName="1.0">

    <application android:directBootAware="true">
        <service android:name=".QtiTelephonyService" />
    </application>
</manifest>
